.banner {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.post {
  padding: 4rem 0;
}

.header {
  padding-bottom: 2rem;
}

.title {
  font: 700 2.5rem "Inter";
  color: var(--gray-50);
  padding-bottom: 1.5rem;
}

.details {
  > span + span {
    margin-left: 1.5rem;
  }

  > span {
    display: inline-flex;
    align-items: center;
    color: var(--gray-200);

    svg {
      font-size: 1.2rem;
      margin-right: 0.4rem;
    }
  }
}

.contentTitle {
  font: 700 1.8rem "Inter";
  color: var(--gray-50);
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.content {
  font: 400 1rem "Inter";
  color: var(--gray-200);
  padding: 1rem 1rem 1.5rem 1rem;
}
